# /etc/nginx/site-enable/medusa_client_webs_production

upstream puma_medusa_client_api_production {
	server unix:///var/www/medusa_client_api/shared/tmp/sockets/puma.sock fail_timeout=0;
}

server {
	listen 80;
	server_name default_server;
    client_max_body_size 4G;

	location  / {
		root /var/www/medusa_client_webs/build;
		try_files $uri $uri/ /index.html =404;
	}

    location ~ ^/(api|rails){
		try_files $uri/index.html $uri @puma_medusa_client_api_production;
	}

	location @puma_medusa_client_api_production {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_redirect off;
		rewrite ^/api(.*)$ $1 break;

		proxy_pass http://puma_medusa_client_api_production;
		# limit_req zone=one;
		access_log /var/www/medusa_client_api/shared/log/nginx.access.log;
		error_log /var/www/medusa_client_api/shared/log/nginx.error.log;
	}

}



upstream puma_skylla_api_production {
	server unix:///var/www/skylla_api/shared/tmp/sockets/puma.sock fail_timeout=0;
}

server {
	listen 80;
	server_name default_server;
        client_max_body_size 4G;

	location  / {
		root /var/www/skylla_student_web/build;
		try_files $uri $uri/ /index.html;
	}

        location ~ ^/(api){
		try_files $uri/index.html $uri @puma_skylla_api_production;
	}

	location @puma_skylla_api_production {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_redirect off;
		rewrite ^/api(.*)$ $1 break;

		proxy_pass http://puma_skylla_api_production;
		# limit_req zone=one;
		access_log /var/www/skylla_api/shared/log/nginx.access.log;
		error_log /var/www/skylla_api/shared/log/nginx.error.log;
	}

}